<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{{ content }}
<div class="container row">
        <h1 class="cv-title"><span class="black white-text">{{ page.title }}</span></h1>
	{% for post in paginator.posts %}
        <div class="item">
                <i class="vertical-line"></i>
                <h3 class="item-date">{{ post.fadate }}{% if post.faenddate %} - {{ post.faenddate }}{% endif %}</h2>
                <div class="card-panel">
                    <h2 class="card-title">
                        {{ post.title }}
                    </h3>
                    <p>
                        {{ post.content }}
                    </p>
                </div>
        </div>
    {% endfor %}
    <div class="last-item">
        <i class="vertical-line"></i>
    </div>
</div>
</body>
</html>
